#build --subcommands=pretty_print
common:seb --disk_cache=cache/disk
common:seb --repository_cache=cache/repo

# Workaround for PATH issue
build --incompatible_strict_action_env
build --remote_timeout=600s

# Remote JDK11 toolchain (does not work on Sebastian's computer)
build --host_javabase=@bazel_tools//tools/jdk:remote_jdk11
build --javabase=@bazel_tools//tools/jdk:remote_jdk11
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11
build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11

# If you would like to add more configuration, you can create user.bazelrc and add it there
try-import user.bazelrc
