build:cache --disk_cache=cache/disk
build:cache --repository_cache=cache/repo

build:jdk11 --javabase=@bazel_tools//tools/jdk:remote_jdk11
build:jdk11 --host_javabase=@bazel_tools//tools/jdk:remote_jdk11
build:jdk11 --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11
build:jdk11 --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11"

build --config=jdk11

build --incompatible_strict_action_env

# BuildBuddy
build:rc --bes_results_url=https://app.buildbuddy.io/invocation/
build:rc --bes_backend=grpcs://cloud.buildbuddy.io
build:rc --remote_cache=grpcs://cloud.buildbuddy.io
build:rc --remote_timeout=120

build:rcbe --config=rc
build:rcbe --remote_executor=grpcs://cloud.buildbuddy.io

build:rcbe --host_platform=@buildbuddy_toolchain//:platform
build:rcbe --platforms=@buildbuddy_toolchain//:platform
build:rcbe --extra_execution_platforms=@buildbuddy_toolchain//:platform

build:rcbe --crosstool_top=@buildbuddy_toolchain//:toolchain
build:rcbe --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build:rcbe --javabase=@buildbuddy_toolchain//:javabase_jdk8
build:rcbe --host_javabase=@buildbuddy_toolchain//:javabase_jdk8
build:rcbe --java_toolchain=@buildbuddy_toolchain//:toolchain_jdk8
build:rcbe --host_java_toolchain=@buildbuddy_toolchain//:toolchain_jdk8

try-import build-buddy.bazelrc

# If you would like to add more configuration, you can create user.bazelrc and add it there
try-import user.bazelrc
